<a href="https://colab.research.google.com/github/Johndg1974/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/John_Griner_Conditionals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> *Respect the building blocks, master the fundamentals, and the potential is unlimited* -PJ Ladd

Pre-lecture warm-ups are all about setting you up for success - sometimes that means code challenges, sometimes it means discussing interview questions. Today it means working on fundamentals. 

Read through the lecture notebook with a focus on understanding. At the end of the sections are code challenges for you to practice and reinforce what you read about. After lecture ends, a team lead will post a solution notebook (with explanations) for those exercises. 

Should you finish early, there is additional content at the bottom to explore. If you don't complete the notebook within the hour, don't sweat it, this notebook is meant for you to build up your knowledge and skills - you can always continue working on it after lecture or when you complete the assignment.

# Conditionals

In programming, we commonly want to take actions based on whether or not a condition is met. The main approach to do this is with an `if..then..else` statement. Before we get to that though, we need to cover the different types of conditional statements we can make.

<img src='https://images-cdn.9gag.com/photo/aOYA1mE_460s.jpg' >

## Floor Division and Modulo

You might remember from grade school doing long division; dividing one number into another to get a quotient and a remainder.

<img src=https://blog.tecladocode.com/content/images/2019/03/10div3-names.png width=300>

Floor Division (`//`) in the image above would be dividing 10 by 3 and getting just the quotient of 3 (divide two numbers and round down). Modulo (`%`) would return the remainder instead.

In [0]:
10//3

3

In [0]:
10%3

1

There are many uses for Floor Division and Modulo, but the most common one is testing whether a number is even or odd by using `x % 2` and seeing if there is a remainder or not.

In [0]:
5 % 2

1

In [0]:
6 % 2

0

## Boolean Expressions and Relational Operators

A boolean value is a variable having only 2 possible states - `True` or `False`, `Yes` or `No`, `1` or `0`, etc. A boolean expression is a statement that evaluates down to either `True` or `False`. These statements can be created with the help of relational operators.

```python
x == y # True if x is equal to y. Note: double `=` is a comparison, single `=` is assignment
x != y # True if x does not equal y
x > y  # True if x is greater than y
x < y  # True if x is less than y
x >= y # True if x is greater than or equal to y
x <= y # True if x is less than or equal to y
```

In [0]:
5 == 6

False

In [0]:
5 < 6

True

We can chain relational operators together for easy to read expressions.

In [0]:
x = 5
0 < x < 10

True

Or use modulo paired with a relational operator to test whether a number is even or not

In [0]:
(5 % 2) == 0

False

We can even assign boolean expressions to variables as well. This sometimes helps with readability or saving space on a line.

In [0]:
x = 4
x_is_even = (x % 2 == 0)
x_is_even

True

## Logical Operators

Boolean expressions can be chained together with the use of Logical Operators: `and`, `or`, and `not`. These behave in a very intuitive way thanks to their similarity to how they are used in English.

In [0]:
x = 5
y = 10

The `and` operator evaluates True only if both expressions are True

In [0]:
(x > 0) and (x < y)

True

The `or` operator only needs one expression to be True

In [0]:
(x > y) or (y == 10)

True

Finally, the `not` operator negates an expression

In [0]:
not((x > 0) and (x < y))

False

The statements on either side of a logical operator should be boolean expressions but Python is pretty loose with it and assumes you will program responsibly.

In [0]:
# Python interprets any non-zero number as True. 
# If you aren't careful, this can lead to hard to detect errors in the logic of your code.
5 and True

True

## if..elif..else..

### Basics

Now that the basics are out of the way, we can talk about the heart of conditional statements, the `if..then..else` statement.

![image.png]()

The most basic form is the `if` statement - "If something is True, then do this other thing"

In [0]:
if 5 > 6:
  print('Math is broken!!!!')

In [0]:
if 6 % 2 == 0:
  print('Found an even number.')

Found an even number.

Some times you want something to occur even if the `if` statement evaluates False - enter the `else` statement. The code under an `else` executes only if the statements above it failed to execute by evaluating to false.

In [0]:
x = 5
if x % 2 == 0:
  print('x is even')
else:
  print('x is odd')

x is odd

Any number of `if` statements can follow after each other and will be evaluated independent of the previous ones.

In [0]:
x = 6
if x % 2 == 0:
  print('x is even')
if (x >= 0) and (x < 10):
  print('x is a single digit number')
if True:
  print('This will always print')

x is even
x is a single digit number
This will always print

There are times when you want all conditionals to be evaluated separately like above, but often times you want them to be evaluated only if the statements above it fail. This is where the `elif` ("else if") comes in handy.

In [0]:
x = 5

if x == 0:
  print('x is 0')
elif x > 0: # If x is 0, then the elif and the else will never be evaluated by Python
  print('x is positive')
else: # If x is greater than or equal to 0, the else will never be evaluated by Python
  print('x is negative')

x is positive

In [0]:
birthyear = 1987

if birthyear <= 1945:
  print('Silent Generation')
elif birthyear <= 1964: # Notice how we don't need to bound the birthyear on both sides (1946 < birthyear <= 1964) 
  print('Baby Boomer')  # because it only executes if it is greater than 1945 thanks to the statement above it and elif.
elif birthyear <= 1980:
  print('Generation X')
elif birthyear <= 1996:
  print('Millenial')
else:
  print('Everyone else')

Millenial

Finally, we can nest conditional statements inside of each other if we need to.

In [0]:
x = 5
x_is_even = (x % 2 == 0)

if x != 0:
  if x_is_even:
    print('x is even')
    if (x > 0):
      print('x is a positive number')
  else:
    print('x is odd')
else:
  print('x is 0')

x is odd

### More If's

Sometimes you want to plan out your code and know you'll need an if statement, but don't know the particulars of what is going into the indented section. Enter `pass`. Python requires something to be executed after an if statement, we can use `pass` as a placeholder so our code still runs while we are building it out.

In [0]:
if x != 0:
  # Comment to note what you might want to go here
  pass

Iterable data structures, like lists and strings, have an operator to check whether a value is within the data structure - `in`. No need to write a loop to check the contents of an iterable, the work is done for you. The `in` operator is almost as intuitive as the logical operators, getting used in a similar fashion to how it is used in English.

In [0]:
5 in [1, 2, 3]

False

In [0]:
3 in [1, 2, 3]

True

In [0]:
'Waldo' in 'walwaloWaWawalodWaldoWaldwa'

True

Last but not least, we have the `is` operator that checks whether two operands refer to the same object. On first glance the `is` operator looks and reads like it does the same job as `==` but you would be mistaken. We aren't going to go into the use cases for `is` but it is important you know of its existent so you don't use it incorrectly.

In [0]:
# `==` checks for equality, are the two values equal
print(5 == 5)
print([] == [])

True
True

In [0]:
# `is` checks whether the two items point to the same object in memory
print(5 is 5) # With basic data types this is pretty much the same thing as `==`
print([] is []) # With even basic data structures we see a different behavior

True
False

In [0]:
# We can even check this with the `id` function, which gives the unique identifier of an item
print(id(5)) # Samesies!
print(id(5)) # Samesies!
print()
print(id([])) # Good Twin
print(id([])) # Evil Twin!

10914624
10914624

140180295151048
140180303548552

## If Statement Practice

### Time

Given a time in seconds, convert the value to hours, minutes, and seconds.

Example:
```python
seconds = 18195

'Hours = 5'
'Minutes = 3'
'Seconds = 15'
```

In [0]:
seconds = 12927

### Triangles
Given 3 lines, a [triangle can be formed](https://en.wikipedia.org/wiki/Triangle_inequality) if none of the lines is longer than the sum of the other two lines. If the sum of the two shorter lengths equals the third than it is considered a [degenerate triangle](https://www.mathwords.com/d/degenerate.htm). Write an if statement that prints "Triangle", "Degenerate Triangle", or "Not a Triangle" given three lines `a`, `b`, and `c`. Three values are provided but feel free to test your code by changing the values of `a`, `b`, and `c`.

In [0]:
a = 5
b = 5
c = 11

### Evaluate the Expressions
Determine whether the statements below are True or False.

```python
# Statement 1
not((5 > 6) and (True != False))

# Statement 2
x = 5
x_is_even = (x % 2 == 0)

x_is_even or ((x > 0) and (x < 4))

# Statement 3
not(not(True))

# Statement 4
() is not ()

# Statement 5
'hello' in 'hello world!'
```

In [0]:
# Statement 1

# Statement 2

# Statement 3

# Statement 4

# Statement 5

# Debugging

Programmers make mistakes, it just comes with the territory. No one writes perfect code 100% of the time, and they don't do it whole cloth. Embrace the mistakes, learn how to fix them, and learn from them. Through lecture, warmups, standups, and 1-on-1's you'll learn how to better approach, troubleshoot, and correct your bugs.

<center><img src=https://i.redd.it/vyo3y5j4zd231.jpg width=50%></center>

Programming,  and  especially  debugging,  sometimes  brings  out  strong  emotions.  If you  are  struggling  with  a  difficult  bug,  you  might  feel  angry,  despondent,  or  embarrassed. These are totally normal feelings - just take a step back, breath, and make a plan of attack. In the beginning you'll have a lot of errors, but just know that the more you work through them the better you get at avoiding them and fixing them in the future.
<br/><br/><br/>
The first part of fixing an error is understanding it. So, let's talk about the 3 Error Types.

1. **Syntax Error** - “Syntax”  refers  to  the  structure  of  a  program  and  the  rules  about  that  structure. For example, parentheses have to come in matching pairs, so `(1 + 2)` is legal, but `8)` is a syntax error. If  there  is  a  syntax  error  anywhere  in  your  program,  Python  displays  an  error message and quits, and you will not be able to run the program.

2. **Runtime Error** - An error that does not appear  until  after  the  program  has  started  running.  These  errors  are  also  called exceptions  because  they  usually  indicate  that  something  exceptional (and  bad) has happened. Both Syntax and Runtime Errors generate error messages that are helpful for understanding what went wrong and where.

3. **Semantic Error** - “Semantic” means related to meaning. If there is a semantic error in your program, it will run without generating error messages, but it will not do the right thing. It will do something else. Specifically, it will do what you told it to do. Identifying  semantic  errors  can  be  tricky  because  it  requires  you  to  work  backward by looking at the output of the program and trying to figure out what it is doing.
<br/><br/><br/>
Debugging content above is adapted from *Think Python, 2nd Edition* by Allen B. Downey

In [0]:
# A Syntax Error. Notice how Python tells you the line number (1) and 
# that your Syntax is the issue.
x 5

SyntaxError: ignored

In [0]:
# A Runtime Error. Once again Python tells us where the issue is and 
# what type of error. "TypeError" is a runtime error the indicates a 
# type mismatch, in this case Python doesn't know how to add an integer
# and a word together.
word = 'hello world'
x = word + 5
print(x)

TypeError: ignored

In [0]:
# A Semantic Error. I've told the computer to print "Go!" on 3 but it doesn't
# know that I mean the number 3. The code compiles and runs but will never do
# what I wanted it to do.
for i in range(5):
  if i == 'three':
    print('Go!')
    break
else:
  print('Race Cancelled')

Race Cancelled

## Debug Practice

### Correct each of the errors above

### Write code snippets that produce each of the 3 Error Types

# Further Exploration

## Minimal Code

If statements can be converted to a single line of code with a slight change to formatting. This can helpful in certain cases but should be used only when it doesn't hamper readability.

In [0]:
x = 4
statement = 'x is even' if (x % 2 == 0) else 'x is odd'
print(statement)

x is even

In [0]:
a = 1
b = 2
maximum = (a if (a > b) else b) * 2.45 - 4
maximum

0.9000000000000004

In [0]:
# You can make a one line if statement this way as well:
if x == 4: print(x)
# But shouldn't as it goes against the Python style guide (PEP8)

4

## Dictionaries as Case Statements

Many programming languages have what is called a `case` statement, Python does not thanks to `elif`. Should you want to imitate a case statement you can use a dictionary. The keys in the dictionary would be what you are checking equivalency (`==`) of, and the value will be the code to execute. Dictionaries can't store code directly, so you either need to store a value or reference a function.

In [0]:
switcher = {
        0: "This is Case Zero",
        1: "This is Case One",
        2: "This is Case Two",
    }

x = 5
switcher.get(x, "nothing")

'nothing'

In [0]:
def foo(x):
  return 'This is case', x

def bar():
  return 'A different function'

switcher = {
        0: foo(x),
        1: foo(x),
        2: bar(),
    }

x = 0
switcher.get(x, "nothing")

('This is case', 0)

In [0]:
# Just be careful with print statements
def foo(x):
  print('This is case', x)

switcher = {
        0: foo(x),
        1: foo(x),
        2: foo(x),
    }

x = 0
switcher.get(x, "nothing")

This is case 0
This is case 0
This is case 0

## Bitwise Operators

There is another set of operators that behaves in a very similar way to the logical operators (`and`, `or`, and `not`). The bitwise operators act like their counterparts except on the bits (1s and 0s) of the input expression. They have two other behavioral differences:
1. Logical Operators short circuit, meaning they execute only until they can determine the value of the expression.
`True or False` will stop evaluating at `True` since we don't need to know anymore to safely return `True`. Bitwise Operators evaluate the whole statement every time.
2. Logical Operators return `True` or `False` once evaluated, bitwise will return a value based on how the truth table resolved. `0b110 | 0b000` returns `6`, not `True` (the `0b` prefix indicates a binary number).

In [0]:
# And
0b110 & 0b000

0

In [0]:
# Or
0b110 | 0b000

6

In [0]:
# Not
~0b000

-1

In [0]:
# XOR (Exclusive Or)
0b110 ^ 0b110

0

## Supplemental Content


[Video Tutorial on If Statements](https://www.youtube.com/watch?v=DZwmZ8Usvnk)

[Basic Operators in Python](https://www.geeksforgeeks.org/basic-operators-python/)